@font-face {
    font-family: 'Boogaloo-Regular';
    src: url('file:src/main/resources/fonts/Boogaloo-Regular.ttf');
}
@font-face {
    font-family: 'Diplomata-Regular';
    src: url('file:src/main/resources/fonts/Diplomata-Regular.ttf');
}
.field_1{
    -fx-padding: 5px;
    -fx-background-color: #f1ede6;
    -fx-prompt-text-fill: #d3bfa7;
    -fx-text-fill: #aa9b89;
    -fx-font-family: 'Boogaloo';
    -fx-font-size: 22px;
    -fx-shape: "M 16.5,-0.5 C 19.5,-0.5 22.5,-0.5 25.5,-0.5C 50.9401,2.25032 76.6068,3.75032 102.5,4C 230.834,4.28141 359.167,4.28141 487.5,4C 492.572,4.67843 497.572,5.67843 502.5,7C 505.746,8.74238 508.079,11.2424 509.5,14.5C 509.5,45.5 509.5,76.5 509.5,107.5C 508.167,109.5 506.5,111.167 504.5,112.5C 502.167,112.5 499.833,112.5 497.5,112.5C 496.488,110.124 494.655,109.124 492,109.5C 487.18,110.12 482.347,110.62 477.5,111C 406.493,111.864 335.493,111.531 264.5,110C 211.047,106.299 157.547,103.466 104,101.5C 72.8382,102.873 41.6716,103.706 10.5,104C 2.55789,100.181 1.55789,95.0143 7.5,88.5C 3.69294,87.1906 1.52627,84.524 1,80.5C 0.831818,60.6624 0.331818,40.9957 -0.5,21.5C -0.5,19.1667 -0.5,16.8333 -0.5,14.5C 1.56746,9.12487 5.56746,6.79154 11.5,7.5C 12.1661,4.1597 13.8327,1.49303 16.5,-0.5 Z";
}
.field_2{
    -fx-padding: 5px;
    -fx-background-color: #f1ede6;
    -fx-prompt-text-fill: #d3bfa7;
    -fx-text-fill: #aa9b89;
    -fx-font-family: 'Boogaloo';
     -fx-font-size: 22px;
    -fx-shape: "M 140.5,-0.5 C 148.167,-0.5 155.833,-0.5 163.5,-0.5C 219.233,4.26227 275.233,6.42893 331.5,6C 384.516,8.33377 437.516,11.0004 490.5,14C 494.939,14.9511 497.939,17.4511 499.5,21.5C 499.5,25.8333 499.5,30.1667 499.5,34.5C 496.737,41.533 494.57,48.8664 493,56.5C 490.572,73.164 488.238,89.8307 486,106.5C 484.624,107.705 483.458,109.038 482.5,110.5C 481.167,110.5 479.833,110.5 478.5,110.5C 444.959,109.277 411.292,107.444 377.5,105C 337.812,100.44 298.145,95.7738 258.5,91C 190.128,89.7023 121.794,90.7023 53.5,94C 38.6502,95.7104 23.8169,97.5437 9,99.5C 5.03757,99.2422 1.8709,97.5756 -0.5,94.5C -0.5,92.5 -0.5,90.5 -0.5,88.5C 0.314913,87.5707 1.14825,86.5707 2,85.5C 4.01862,66.1791 4.51862,46.8457 3.5,27.5C 4.19154,22.1417 7.19154,19.1417 12.5,18.5C 11.7397,13.186 13.7397,9.35272 18.5,7C 59.3638,5.19868 100.03,2.69868 140.5,-0.5 Z"
}
.field_button_1{
    -fx-padding: 5px;
    -fx-background-color: #895f46;
    -fx-text-fill: #d3bfa7;
    -fx-shape: "M 25.5,-0.5 C 26.1667,-0.5 26.8333,-0.5 27.5,-0.5C 34.8715,1.70683 42.5382,2.87349 50.5,3C 69.8298,3.63715 89.1632,4.13715 108.5,4.5C 165.181,3.79201 221.847,2.95868 278.5,2C 293.147,3.05316 307.814,3.71983 322.5,4C 326.685,5.68784 329.685,8.52117 331.5,12.5C 331.5,17.5 331.5,22.5 331.5,27.5C 330.317,42.6629 329.817,57.9962 330,73.5C 330.278,74.4158 330.778,75.0825 331.5,75.5C 331.5,77.1667 331.5,78.8333 331.5,80.5C 329.167,83.5 326.5,86.1667 323.5,88.5C 321.167,88.5 318.833,88.5 316.5,88.5C 268.815,82.9322 220.815,79.7655 172.5,79C 122.501,79.2097 72.5014,79.2097 22.5,79C 16.7083,79.23 11.375,77.8967 6.5,75C 4.35383,72.2052 3.18717,69.0386 3,65.5C 1.59524,64.2695 0.428572,62.9361 -0.5,61.5C -0.5,57.8333 -0.5,54.1667 -0.5,50.5C 1.46386,44.3295 3.2972,37.9962 5,31.5C 5.10408,23.68 6.10408,16.0133 8,8.5C 10.8546,4.6563 14.6879,2.82296 19.5,3C 21.2573,1.25049 23.2573,0.0838281 25.5,-0.5 Z"
}
.field_button_1:pressed{
    -fx-padding: 5px;
    -fx-background-color: #a9785b;
    -fx-text-fill: #6d4d27;
    -fx-shape: "M 25.5,-0.5 C 26.1667,-0.5 26.8333,-0.5 27.5,-0.5C 34.8715,1.70683 42.5382,2.87349 50.5,3C 69.8298,3.63715 89.1632,4.13715 108.5,4.5C 165.181,3.79201 221.847,2.95868 278.5,2C 293.147,3.05316 307.814,3.71983 322.5,4C 326.685,5.68784 329.685,8.52117 331.5,12.5C 331.5,17.5 331.5,22.5 331.5,27.5C 330.317,42.6629 329.817,57.9962 330,73.5C 330.278,74.4158 330.778,75.0825 331.5,75.5C 331.5,77.1667 331.5,78.8333 331.5,80.5C 329.167,83.5 326.5,86.1667 323.5,88.5C 321.167,88.5 318.833,88.5 316.5,88.5C 268.815,82.9322 220.815,79.7655 172.5,79C 122.501,79.2097 72.5014,79.2097 22.5,79C 16.7083,79.23 11.375,77.8967 6.5,75C 4.35383,72.2052 3.18717,69.0386 3,65.5C 1.59524,64.2695 0.428572,62.9361 -0.5,61.5C -0.5,57.8333 -0.5,54.1667 -0.5,50.5C 1.46386,44.3295 3.2972,37.9962 5,31.5C 5.10408,23.68 6.10408,16.0133 8,8.5C 10.8546,4.6563 14.6879,2.82296 19.5,3C 21.2573,1.25049 23.2573,0.0838281 25.5,-0.5 Z"
}

.bg_login{
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url('file:src/main/resources/images/login_bg.jpg')
}

.h1{
    -fx-font-family: 'Diplomata';
    -fx-text-fill: #895f46;
}